{% extends 'base.html.twig' %}

{% block title %}Player index{% endblock %}

{% block body %}
    <h1>Player index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.id }}</td>
                <td><a href="{{ path('app_player_show', {'id': player.id}) }}">{{ player.name }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_player_edit', {'id': player.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_player_new') }}" class="btn btn-primary">Create new</a>
    {% endif %}
{% endblock %}
