{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <h1>Player - {{ player.name }}</h1>
    <div class="row">
        <div class="col">
            <p>The game {{ player.name }} has been played in {{player.playerSessions|length}} sessions with {{player.winningPlayerSessions|length}} victories.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <table class="table">
            {% for playerSession in player.playerSessions %}
                <tr>
                    <td><a href="{{ path('app_session_show', {'id': playerSession.session.id}) }}">{{ playerSession.session.date ? playerSession.session.date|date('M d, Y') : '' }}</a></td>
                    <td><a href="{{ path('app_game_role_show', {'id': playerSession.gameRole.id}) }}">{{playerSession.gameRole.name}} {%if playerSession.isWinner %}👑{% endif %}</a></td>
                    <td><a href="{{ path('app_game_show', {'id': playerSession.session.game.id}) }}"> {{playerSession.gameRole.game.name}} </a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <a href="{{ path('app_player_index') }}">back to list</a>

    <a href="{{ path('app_player_edit', {'id': player.id}) }}">edit</a>

    {{ include('player/_delete_form.html.twig') }}
{% endblock %}
