{% extends 'base.html.twig' %}

{% block title %}GameRole{% endblock %}

{% block body %}
    <h1>GameRole - {{ game_role.name }}</h1>

    <div class="row">
        <div class="col">
            <p>The {{ game_role.name }} have been in {{game_role.playerSessions|length}} battles, {{game_role.winningPlayerSessions|length}} times the victor.</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
        {% for playerSession in game_role.playerSessions %}
            <tr>
                <th>{% if playerSession.isWinner %}👑 {% endif %}<a href="{{ path('app_player_show', {'id': playerSession.player.id}) }}">{{ playerSession.player.name }}</a></th>
                <td>
                    <a href="{{ path('app_session_show', {'id': playerSession.session.id}) }}">{{ playerSession.session.date ? playerSession.session.date|date('M d, Y') : '' }}</a>
                    
                     : {{ playerSession.score }} 
                    <a href="{{ path('app_player_session_edit', {'id': playerSession.id,'return':'app_game_role_show'}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
        </div>
    </div>

    <a href="{{ path('app_game_role_index') }}">back to list</a>

    <a href="{{ path('app_game_role_edit', {'id': game_role.id}) }}">edit</a>

    {{ include('game_role/_delete_form.html.twig') }}
{% endblock %}
