{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Game - {{ game.name }}</h1>
    <div class="row">
        <div class="col">
            <p>The game {{ game.name }} has been played in {{game.sessions|length}} sessions.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <table class="table">
            {% for gameRole in game.gameRoles %}
                <tr>
                    <td><a href="{{ path('app_game_role_show', {'id': gameRole.id}) }}">{{gameRole.name}}</a></td>
                    <td>{{gameRole.winningPlayerSessions | length}} 👑</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <a href="{{ path('app_game_index') }}">back to list</a>

    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>

    {{ include('game/_delete_form.html.twig') }}
{% endblock %}
