{% extends 'base.html.twig' %}
{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0" defer></script>
<script src="/client.js" defer></script>
{% endblock %}

{% block title %}Session index{% endblock %}

{% block body %}
    <h1>Session index</h1>
    <div class="row">
        <div class="col">
            <canvas id="factionPie"></canvas>
        </div>
        <div class="col">
            <canvas id="combinedRadar"></canvas>
        </div>
        <div class="col">
            <canvas id="playerPie"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col">
            
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Winning Player</th>
                <th>Winning Faction</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.date ? session.date|date('Y-m-d H:i:s') : '' }}</td>
                {% if session.winningPlayerSession %}
                <td><a href="{{ path('app_player_show', {'id': session.winningPlayerSession.player.id}) }}">{{ session.winningPlayerSession.player.name }}</a></td>
                <td><a href="{{ path('app_game_role_show', {'id': session.winningPlayerSession.gameRole.id}) }}">{{ session.winningPlayerSession.gameRole.name }}</td>
                {% else %}
                    <td colspan="2"><a href="{{ path('app_session_show', {'id': session.id}) }}">Mark Players Now!</a></td>
                {% endif %}
                <td>
                    <a href="{{ path('app_session_show', {'id': session.id}) }}">show</a>
                    <a href="{{ path('app_session_edit', {'id': session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_session_new') }}" class="btn btn-primary">Create new</a>
        </div>
</div>
<script>
   const sessions = [
    {% for session in sessions %}
        {
            "winning_faction":"{{session.winningPlayerSession.gameRole.name}}",
            "winning_player":"{{session.winningPlayerSession.player.name}}"
        },
    {% endfor %}
]   ;

document.addEventListener("DOMContentLoaded", async function(event) {
    console.log(sessions)
    updateChart(sessions)
});
</script>
{% endblock %}
