{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ session.date ? session.date|date('M d, Y') : '' }}</td>
            </tr>
            {% set gameRolesUsed = session.game.gameRoles %}
            {% for playerSession in session.playerSessions %}
                {% set gameRolesUsed = gameRolesUsed|filter((v, k) => v != playerSession.gameRole) %}
                <tr>
                    <th>{% if playerSession.isWinner %}👑{% endif %}{{ playerSession.gameRole.name }}</th>
                    <td>{{ playerSession.player.name }} : {{ playerSession.score }}</td>
                </tr>
            {% endfor %}
            {% if (gameRolesUsed|length) > 0 %}
                {% set role = gameRolesUsed|first %}
                <tr>
                    <th>{{role.name}}</th>
                    <td>{{ include('session/_player_form.html.twig') }}</td>
                </tr>
                
            {% endif %}
            
        </tbody>
    </table>

    <a href="{{ path('app_session_index') }}">back to list</a>

    <a href="{{ path('app_session_edit', {'id': session.id}) }}">edit</a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
