{% extends 'base.html.twig' %}

{% block title %}PlayerSession index{% endblock %}

{% block body %}
    <h1>PlayerSession index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Session Date</th>
                <th>Player</th>
                <th>Role</th>
                <th>Score</th>
                <th>Outcome</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player_session in player_sessions %}
            <tr>
                <td><a href="{{ path('app_session_show', {'id': player_session.session.id}) }}">{{ player_session.session.date ? player_session.session.date|date('M d, Y') : '' }}</a></td>
                <td>{{ player_session.player.name }}</td>
                <td>{{ player_session.gameRole.name }}</td>
                <td>{{ player_session.score }}</td>
                <td>{% if player_session.isWinner %}👑{% else %} {% endif %}</td>
                <td>
                    <a href="{{ path('app_player_session_show', {'id': player_session.id}) }}">show</a>
                    <a href="{{ path('app_player_session_edit', {'id': player_session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_player_session_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
